image: ubuntu

before_script:
  - apt-get update
  - apt install python3 -y
  - apt install python3-pip -y
  - python3 -V 
  - pip3 install virtualenv
  - pip3 install wheel
  - virtualenv venv
  - source venv/bin/activate
  - pip3 install -r requirements.txt
  - pip3 install -e .
  - apt install xvfb -y

test:
    script: 
        - pytest test/test_training.py
        - pytest test/test_deployment.py
